.App {
  padding: 48pt 8pt;
}

.App-status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  background: #000;
  font-size: 24pt;
}

.App-status span {
  margin: 0 8pt;
}

.App-main {
  margin: 0 auto;
  max-width: 1024px;
}
