.App {
  padding: 48pt 8pt;
}

.App-status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  background: #000;
  font-size: 24pt;
}

.App-status span {
  margin: 0 8pt;
}

.App-header {
  margin: 0 auto;
  max-width: 1024px;
  text-align: center;
}

.App-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App .leaflet-container {
  height: 40vw;
  width: 40vw;
}
