@font-face {
  font-family: "Input Sans";
  src: url("InputSans-Regular.ttf") format("ttf");
}

body {
  background: #333;
  color: #eee;
  margin: 0;
  font-family: "Input Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  color: #fff;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.orange {
  color: #FFA100;
}
