@font-face {
  font-family: "Input Sans";
  src: url("InputSans-Regular.ttf") format("ttf");
}

body {
  background: linear-gradient(#000, #002);
  color: #ddd;
  margin: 0;
  font-family: "Input Sans", sans-serif;
  font-size: 18pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

h1, h2, h3 {
  color: #eee;
  font-weight: 400;
}

.left {
  float: left;
}

.right {
  float: right;
}

.orange {
  color: #FFA100;
}
